.services {
  position: relative;
  z-index: 992;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4f4;
}

.text-center-services {
  text-align: center;
}

.about-services {
  margin-left: 17%;
}

.about-services h3 {
  margin: 0 0 35px;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  line-height: 1.5;
  font-weight: 300;
  font-size: 24px;
}
.about-services p {
  margin: 0 0 35px;
  padding-bottom: 40px;
}

@media (max-width: 991px) {
  .about-services {
    margin-left: 0;
  }
}
