.row-margin-portfolio {
  margin-top: 130px;
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  text-align: center;
}

.text-portfolio h3 {
  margin: 0 0 35px;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  line-height: 1.5;
  font-weight: 300;
  font-size: 24px;
}

.portfolio-items {
  position: relative;
  margin-right: 0;
}
