.remove-padding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.portfolio-group {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay .caption {
  position: absolute;
  bottom: 0;
  padding: 0 40px;
  text-align: left;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  opacity: 0;
  color: #000;
}

.caption h5 {
  margin-bottom: 0;
  font-weight: 400;
  color: #555;
}

.caption span {
  font-size: 14px;
  font-weight: 200;
}

.portfolio-overlay {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
  height: 100%;
  position: absolute;
  transition: all 1s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  visibility: visible;
}

.portfolio-group img {
  max-width: none;
  position: relative;
  left: 0;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-item:hover img {
  transform: scale(1.2, 1.2) translate(15px, 15px);
  -ms-transform: scale(1.2, 1.2) translate(15px, 15px);
  -webkit-transform: scale(1.2, 1.2) translate(15px, 15px);
}

.portfolio-item:hover .portfolio-overlay .caption {
  bottom: 10%;
  opacity: 1;
}
